target/
out/
!.mvn/wrapper/maven-wrapper.jar
data/elasticsearch
*.log
*.log.[0-9]*
example-db*

# Created when building artifact-with-dependencies
src/main/java/META-INF/MANIFEST.MF

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/